
*{
background-color: rgb(207, 201, 201);
}

.paragrafo{
    color: rgb(2, 2, 133);
    text-align: center;
    padding-left: 30px;
    padding-right: 30x;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paragrafo2{
    text-align: justify;
    font-size: larger;
    justify-content: center;
    padding-left: 37px;
    padding-right: 50px;
}

.negrito{
   text-align: justify;
    font-size: larger;
    justify-content: center;
    padding-left: 37px;

}

.titulo{
    font-size: 25px;
    background-color: rgba(6, 83, 155, 0.836);
    color:rgb(9, 3, 85);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 1px;
    

    
}

.links{
    text-align: center;
    color: rgba(41, 201, 147, 0.74);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.subtitulo{
    font-size: 35px;
    margin-left: 37px;
    line-height: 70px;
}

.email{
    padding-left: 80px;
    font-size: 20px;


}
.telefone{
    padding-left: 60px;
    font-size: 20px;
}
.whatsapp{
    padding-left: 35px;
    font-size: 20px;

    
}

.Botão{
    padding-top: 20px;
    padding-left: 40px;

}

.imagem{
    padding-left: 37px;
}
.imagem2{
    padding-left: 37px;
}